<div class="container">   
    <h3>LIST</h3>
    
    <br>   
    <table border="2">   
      <thead>   
      <tr>   
        <th>Name</th>   
        <th>Description</th>   
        <th>Action</th>
        
      </tr>   
      </thead>   
      <tbody>   
      <% @post.each do |item| %>   
          <tr>   
            <td> <%= item.name %></td>   
            <td> <%= item.description %></td>  
            <td><%= link_to "Edit", edit_post_path(item), :class => 'btn btn-default' %> 
            <%= link_to "Delete", post_path(item),
 method: :delete,
data: {confirm: 'Are you sure?'},
:class => 'btn btn-danger' %>  </td>
          </tr>   
      <% end %>   
      </tbody>   
    </table>   
    </div>   
      